# Projet 9. Produisez une étude de marché avec R ou Python
<div>
<img src="Logo-P9.png" style = "width: 600px; height: 280px" title = "La poule qui chante"/>
</div>

### <center>Réalisée par: Thi Tuong Le</center>
#### <center>Data Analyst</center>

## 1. Import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

In [2]:
# Get current working directory
import os
os.getcwd()

'/Users/lethituong/Desktop/Data Analyst/OpenClassrooms projects/P9-Produisez une étude de marché avec R ou Python/DAN-P9-data'

## 2. Nettoyage des données

In [3]:
dispo_ali = pd.read_csv("DisponibiliteAlimentaire_2017.csv")
pop = pd.read_csv ("Population_2000_2018.csv")

In [4]:
pop.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note
0,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2000,2000,1000 personnes,20779.953,X,Sources internationales sûres,NaN
1,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2001,2001,1000 personnes,21606.988,X,Sources internationales sûres,NaN
2,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2002,2002,1000 personnes,22600.770,X,Sources internationales sûres,NaN
3,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2003,2003,1000 personnes,23680.871,X,Sources internationales sûres,NaN
4,OA,Séries temporelles annuelles,2,Afghanistan,511,Population totale,3010,Population-Estimations,2004,2004,1000 personnes,24726.684,X,Sources internationales sûres,NaN

In [5]:
pop.isna().sum()

Code Domaine                 0
Domaine                      0
Code zone                    0
Zone                         0
Code Élément                 0
Élément                      0
Code Produit                 0
Produit                      0
Code année                   0
Année                        0
Unité                        0
Valeur                       0
Symbole                      0
Description du Symbole       0
Note                      4153
dtype: int64

In [6]:
pop[pop["Zone"]=="China"]

Empty DataFrame
Columns: [Code Domaine, Domaine, Code zone, Zone, Code Élément, Élément, Code Produit, Produit, Code année, Année, Unité, Valeur, Symbole, Description du Symbole, Note]
Index: []

In [7]:
# Affiche les data de pop avec sélectionné les variables nécessaires

pop = pop[['Zone', 'Année', 'Valeur']]
pop1 = pop.pivot_table(index='Zone', columns='Année', values='Valeur')

pop1.head()

#pop1.rename({"Pays":"Zone", 2017 : "pop2017"}, axis=1, inplace=True)

Année,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Zone,,,,,,,,,,,,,,,,,,,
Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921
Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518
Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740
Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408
Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,80899.961,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418

In [8]:
pop1["%pop change 2006-2017"]=((pop1[2017]-pop1[2006])/pop1[2006]*100)
pop1.head()

Année,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,%pop change 2006-2017
Zone,,,,,,,,,,,,,,,,,,,,
Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,37.313380
Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518,17.571442
Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-5.839072
Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408,23.031974
Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,80899.961,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418,1.455935

In [9]:
pop1.rename({2017 : "pop2017"}, axis=1, inplace=True)

In [10]:
pop1.head()

Année,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,pop2017,2018,%pop change 2006-2017
Zone,,,,,,,,,,,,,,,,,,,,
Afghanistan,20779.953,21606.988,22600.770,23680.871,24726.684,25654.277,26433.049,27100.536,27722.276,28394.813,29185.507,30117.413,31161.376,32269.589,33370.794,34413.603,35383.032,36296.113,37171.921,37.313380
Afrique du Sud,44967.708,45571.274,46150.913,46719.196,47291.610,47880.601,48489.459,49119.759,49779.471,50477.011,51216.964,52003.755,52832.658,53687.121,54544.186,55386.367,56207.646,57009.756,57792.518,17.571442
Albanie,3129.243,3129.704,3126.187,3118.023,3104.892,3086.810,3063.021,3033.998,3002.678,2973.048,2948.023,2928.592,2914.096,2903.790,2896.305,2890.513,2886.438,2884.169,2882.740,-5.839072
Algérie,31042.235,31451.514,31855.109,32264.157,32692.163,33149.724,33641.002,34166.972,34730.608,35333.881,35977.455,36661.445,37383.895,38140.133,38923.692,39728.025,40551.392,41389.189,42228.408,23.031974
Allemagne,81400.882,81453.885,81535.122,81614.380,81646.474,81602.741,81472.226,81277.830,81065.752,80899.961,80827.002,80855.632,80972.628,81174.367,81450.378,81787.411,82193.768,82658.409,83124.418,1.455935

In [11]:
pop_final = pop1[['pop2017', '%pop change 2006-2017']]
pop_final.head()

Année             pop2017  %pop change 2006-2017
Zone
Afghanistan     36296.113              37.313380
Afrique du Sud  57009.756              17.571442
Albanie          2884.169              -5.839072
Algérie         41389.189              23.031974
Allemagne       82658.409               1.455935

In [12]:
# Affiche les data d'alimentaire
dispo_ali_vol = pd.read_csv('AlimentaireVolailles_2017.csv')

In [13]:
dispo_ali_vol

,Code Domaine,Domaine,Code zone (FAO),Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5511,Production,2734,Viande de Volailles,2017,2017,Milliers de tonnes,28.00,Im,Données de la FAO basées sur une méthodologie ...
1,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5611,Importations - Quantité,2734,Viande de Volailles,2017,2017,Milliers de tonnes,29.00,Im,Données de la FAO basées sur une méthodologie ...
2,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5072,Variation de stock,2734,Viande de Volailles,2017,2017,Milliers de tonnes,-7.00,Im,Données de la FAO basées sur une méthodologie ...
3,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5301,Disponibilité intérieure,2734,Viande de Volailles,2017,2017,Milliers de tonnes,64.00,S,Données standardisées
4,FBS,Bilans Alimentaires (2010-),2,Afghanistan,5170,Résidus,2734,Viande de Volailles,2017,2017,Milliers de tonnes,0.00,Im,Données de la FAO basées sur une méthodologie ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2078,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,5142,Nourriture,2734,Viande de Volailles,2017,2017,Milliers de tonnes,75.00,Im,Données de la FAO basées sur une méthodologie ...
2079,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2734,Viande de Volailles,2017,2017,kg,5.27,Fc,Donnée calculée
2080,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,Viande de Volailles,2017,2017,Kcal/personne/jour,18.00,Fc,Donnée calculée
2081,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.78,Fc,Donnée calculée
2082,FBS,Bilans Alimentaires (2010-),181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2734,Viande de Volailles,2017,2017,g/personne/jour,1.11,Fc,Donnée calculée

In [14]:
dispo_ali

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2511,Blé et produits,2017,2017,Milliers de tonnes,4281.00,S,Données standardisées
1,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,2302.00,S,Données standardisées
2,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5072,Variation de stock,2511,Blé et produits,2017,2017,Milliers de tonnes,-119.00,S,Données standardisées
3,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5911,Exportations - Quantité,2511,Blé et produits,2017,2017,Milliers de tonnes,0.00,S,Données standardisées
4,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2017,2017,Milliers de tonnes,6701.00,S,Données standardisées
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176595,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5142,Nourriture,2899,Miscellanees,2017,2017,Milliers de tonnes,19.00,S,Données standardisées
176596,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,645,Disponibilité alimentaire en quantité (kg/pers...,2899,Miscellanees,2017,2017,kg,1.33,Fc,Donnée calculée
176597,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2899,Miscellanees,2017,2017,Kcal/personne/jour,1.00,Fc,Donnée calculée
176598,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,674,Disponibilité de protéines en quantité (g/pers...,2899,Miscellanees,2017,2017,g/personne/jour,0.04,Fc,Donnée calculée
176599,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,684,Disponibilité de matière grasse en quantité (g...,2899,Miscellanees,2017,2017,g/personne/jour,0.02,Fc,Donnée calculée

In [15]:
dispo_ali_vol = dispo_ali_vol.pivot_table(index=['Zone', 'Produit'],
                                   columns='Élément', values='Valeur')

In [16]:
dispo_ali_vol

,Élément,Alimentation pour touristes,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Traitement,Variation de stock
Zone,Produit,,,,,,,,,,,,,,,
Afghanistan,Viande de Volailles,NaN,NaN,6.0,1.76,0.38,0.63,64.0,NaN,29.0,64.0,NaN,28.0,0.0,NaN,-7.0
Afrique du Sud,Viande de Volailles,NaN,NaN,149.0,37.01,9.59,14.63,2110.0,63.0,514.0,2110.0,NaN,1665.0,0.0,NaN,6.0
Albanie,Viande de Volailles,NaN,NaN,59.0,11.45,4.46,4.44,33.0,0.0,20.0,33.0,NaN,13.0,0.0,NaN,0.0
Algérie,Viande de Volailles,NaN,NaN,24.0,6.91,1.63,2.13,286.0,0.0,2.0,286.0,NaN,284.0,0.0,NaN,0.0
Allemagne,Viande de Volailles,NaN,NaN,67.0,18.05,3.90,7.39,1557.0,646.0,842.0,1492.0,NaN,1514.0,-38.0,103.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,Viande de Volailles,245.0,NaN,88.0,25.97,5.57,8.92,492.0,31.0,465.0,246.0,0.0,57.0,0.0,NaN,0.0
Équateur,Viande de Volailles,NaN,NaN,87.0,20.28,6.67,6.46,340.0,0.0,0.0,340.0,NaN,340.0,0.0,NaN,0.0
États-Unis d'Amérique,Viande de Volailles,NaN,89.0,220.0,55.80,14.85,19.98,18305.0,3692.0,123.0,18140.0,NaN,21914.0,0.0,77.0,40.0
Éthiopie,Viande de Volailles,NaN,NaN,2.0,0.71,0.15,0.24,76.0,0.0,0.0,76.0,NaN,72.0,0.0,NaN,-4.0
Îles Salomon,Viande de Volailles,0.0,NaN,19.0,4.56,1.39,1.55,3.0,0.0,5.0,3.0,NaN,0.0,0.0,NaN,2.0

In [17]:
# Changer le nom pour les colonnes
dispo_ali_vol.rename(columns={"Disponibilité alimentaire (Kcal/personne/jour)":"DispoAliVolKcal",
                               "Disponibilité de protéines en quantité (g/personne/jour)":"DispoAliProtVol"},
                     inplace=True)

In [18]:
dispo_ali_vol

,Élément,Alimentation pour touristes,Autres utilisations (non alimentaire),DispoAliVolKcal,Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),DispoAliProtVol,Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Résidus,Traitement,Variation de stock
Zone,Produit,,,,,,,,,,,,,,,
Afghanistan,Viande de Volailles,NaN,NaN,6.0,1.76,0.38,0.63,64.0,NaN,29.0,64.0,NaN,28.0,0.0,NaN,-7.0
Afrique du Sud,Viande de Volailles,NaN,NaN,149.0,37.01,9.59,14.63,2110.0,63.0,514.0,2110.0,NaN,1665.0,0.0,NaN,6.0
Albanie,Viande de Volailles,NaN,NaN,59.0,11.45,4.46,4.44,33.0,0.0,20.0,33.0,NaN,13.0,0.0,NaN,0.0
Algérie,Viande de Volailles,NaN,NaN,24.0,6.91,1.63,2.13,286.0,0.0,2.0,286.0,NaN,284.0,0.0,NaN,0.0
Allemagne,Viande de Volailles,NaN,NaN,67.0,18.05,3.90,7.39,1557.0,646.0,842.0,1492.0,NaN,1514.0,-38.0,103.0,152.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,Viande de Volailles,245.0,NaN,88.0,25.97,5.57,8.92,492.0,31.0,465.0,246.0,0.0,57.0,0.0,NaN,0.0
Équateur,Viande de Volailles,NaN,NaN,87.0,20.28,6.67,6.46,340.0,0.0,0.0,340.0,NaN,340.0,0.0,NaN,0.0
États-Unis d'Amérique,Viande de Volailles,NaN,89.0,220.0,55.80,14.85,19.98,18305.0,3692.0,123.0,18140.0,NaN,21914.0,0.0,77.0,40.0
Éthiopie,Viande de Volailles,NaN,NaN,2.0,0.71,0.15,0.24,76.0,0.0,0.0,76.0,NaN,72.0,0.0,NaN,-4.0
Îles Salomon,Viande de Volailles,0.0,NaN,19.0,4.56,1.39,1.55,3.0,0.0,5.0,3.0,NaN,0.0,0.0,NaN,2.0

In [19]:
dispo_ali_vol = dispo_ali_vol[['DispoAliVolKcal','DispoAliProtVol']]

In [20]:
dispo_ali_vol

Élément                                    DispoAliVolKcal  DispoAliProtVol
Zone                  Produit
Afghanistan           Viande de Volailles              6.0             0.63
Afrique du Sud        Viande de Volailles            149.0            14.63
Albanie               Viande de Volailles             59.0             4.44
Algérie               Viande de Volailles             24.0             2.13
Allemagne             Viande de Volailles             67.0             7.39
...                                                    ...              ...
Émirats arabes unis   Viande de Volailles             88.0             8.92
Équateur              Viande de Volailles             87.0             6.46
États-Unis d'Amérique Viande de Volailles            220.0            19.98
Éthiopie              Viande de Volailles              2.0             0.24
Îles Salomon          Viande de Volailles             19.0             1.55

[180 rows x 2 columns]

In [21]:
#dispo_ali = dispo_ali.pivot_table(index=['Zone', 'Produit'],
                                   #columns=['Élément'], values=['Valeur'])
dispo = dispo_ali.loc[dispo_ali['Produit']=='Viande de Volailles',:]
dispo['Valeur(kg)'] = dispo['Valeur']*1000
dispo.drop(['Produit', 'Unité','Valeur'], axis=1, inplace=True)

elements = ['Disponibilité alimentaire (Kcal/personne/jour)', 'Disponibilité de protéines en quantité (g/personne', 'Production', 'Importations - Quantité', 'Exportations - Quantité']
dispo_final = dispo.loc[dispo['Élément'].isin(elements)]
dispo_final

/Users/lethituong/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/lethituong/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Code année,Année,Symbole,Description du Symbole,Valeur(kg)
651,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5511,Production,2734,2017,2017,S,Données standardisées,28000.0
652,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,5611,Importations - Quantité,2734,2017,2017,S,Données standardisées,29000.0
659,FBS,Nouveaux Bilans Alimentaire,2,Afghanistan,664,Disponibilité alimentaire (Kcal/personne/jour),2734,2017,2017,Fc,Donnée calculée,5000.0
1704,FBS,Nouveaux Bilans Alimentaire,202,Afrique du Sud,5511,Production,2734,2017,2017,S,Données standardisées,1667000.0
1705,FBS,Nouveaux Bilans Alimentaire,202,Afrique du Sud,5611,Importations - Quantité,2734,2017,2017,S,Données standardisées,514000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
175364,FBS,Nouveaux Bilans Alimentaire,251,Zambie,5911,Exportations - Quantité,2734,2017,2017,S,Données standardisées,1000.0
175371,FBS,Nouveaux Bilans Alimentaire,251,Zambie,664,Disponibilité alimentaire (Kcal/personne/jour),2734,2017,2017,Fc,Donnée calculée,11000.0
176388,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5511,Production,2734,2017,2017,S,Données standardisées,69000.0
176389,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,5611,Importations - Quantité,2734,2017,2017,S,Données standardisées,6000.0
176398,FBS,Nouveaux Bilans Alimentaire,181,Zimbabwe,664,Disponibilité alimentaire (Kcal/personne/jour),2734,2017,2017,Fc,Donnée calculée,16000.0

In [22]:
dispo_final=dispo_final [['Zone', 'Élément', 'Valeur(kg)']]

In [23]:
dispo_final.head()

,Zone,Élément,Valeur(kg)
651,Afghanistan,Production,28000.0
652,Afghanistan,Importations - Quantité,29000.0
659,Afghanistan,Disponibilité alimentaire (Kcal/personne/jour),5000.0
1704,Afrique du Sud,Production,1667000.0
1705,Afrique du Sud,Importations - Quantité,514000.0

In [24]:
# Merges deux data
dispo_ali1 = pd.merge(dispo_ali_vol,dispo_final, on='Zone', how='inner')
dispo_ali1.head()

,Zone,DispoAliVolKcal,DispoAliProtVol,Élément,Valeur(kg)
0,Afghanistan,6.0,0.63,Production,28000.0
1,Afghanistan,6.0,0.63,Importations - Quantité,29000.0
2,Afghanistan,6.0,0.63,Disponibilité alimentaire (Kcal/personne/jour),5000.0
3,Afrique du Sud,149.0,14.63,Production,1667000.0
4,Afrique du Sud,149.0,14.63,Importations - Quantité,514000.0

In [25]:
# Merge: disponibilités et population
dispo_ali2 = pd.merge(dispo_ali1, pop_final, on='Zone', how='outer')

In [26]:
dispo_ali2

,Zone,DispoAliVolKcal,DispoAliProtVol,Élément,Valeur(kg),pop2017,%pop change 2006-2017
0,Afghanistan,6.0,0.63,Production,28000.0,36296.113,37.313380
1,Afghanistan,6.0,0.63,Importations - Quantité,29000.0,36296.113,37.313380
2,Afghanistan,6.0,0.63,Disponibilité alimentaire (Kcal/personne/jour),5000.0,36296.113,37.313380
3,Afrique du Sud,149.0,14.63,Production,1667000.0,57009.756,17.571442
4,Afrique du Sud,149.0,14.63,Importations - Quantité,514000.0,57009.756,17.571442
...,...,...,...,...,...,...,...
706,Îles Marshall,NaN,NaN,NaN,NaN,58.058,4.108164
707,Îles Turques-et-Caïques,NaN,NaN,NaN,NaN,37.115,26.280154
708,Îles Vierges américaines,NaN,NaN,NaN,NaN,104.751,-2.522752
709,Îles Vierges britanniques,NaN,NaN,NaN,NaN,29.577,23.119510
710,Îles Wallis-et-Futuna,NaN,NaN,NaN,NaN,11.900,-18.543364

In [27]:
dispo_ali2.info

<bound method DataFrame.info of                           Zone  DispoAliVolKcal  DispoAliProtVol  \
0                  Afghanistan              6.0             0.63
1                  Afghanistan              6.0             0.63
2                  Afghanistan              6.0             0.63
3               Afrique du Sud            149.0            14.63
4               Afrique du Sud            149.0            14.63
..                         ...              ...              ...
706              Îles Marshall              NaN              NaN
707    Îles Turques-et-Caïques              NaN              NaN
708   Îles Vierges américaines              NaN              NaN
709  Îles Vierges britanniques              NaN              NaN
710      Îles Wallis-et-Futuna              NaN              NaN

                                            Élément  Valeur(kg)    pop2017  \
0                                        Production     28000.0  36296.113
1                           Importations - Quantité     29000.0  36296.113
2    Disponibilité alimentaire (Kcal/personne/jour)      5000.0  36296.113
3                                        Production   1667000.0  57009.756
4                           Importations - Quantité    514000.0  57009.756
..                                              ...         ...        ...
706                                             NaN         NaN     58.058
707                                             NaN         NaN     37.115
708                                             NaN         NaN    104.751
709                                             NaN         NaN     29.577
710                                             NaN         NaN     11.900

     %pop change 2006-2017
0                37.313380
1                37.313380
2                37.313380
3                17.571442
4                17.571442
..                     ...
706               4.108164
707              26.280154
708              -2.522752
709              23.119510
710             -18.543364

[711 rows x 7 columns]>

In [28]:
#Calcul du ratio de la disponibilité en protéines d'origine vollaie sur la disponibilité totale en protéines
dispo_ali2['RatioProtVol%'] = np.round(dispo_ali2['DispoAliProtVol'] / dispo_ali2['DispoAliVolKcal']*100,2)

dispo_ali2.head()

,Zone,DispoAliVolKcal,DispoAliProtVol,Élément,Valeur(kg),pop2017,%pop change 2006-2017,RatioProtVol%
0,Afghanistan,6.0,0.63,Production,28000.0,36296.113,37.313380,10.50
1,Afghanistan,6.0,0.63,Importations - Quantité,29000.0,36296.113,37.313380,10.50
2,Afghanistan,6.0,0.63,Disponibilité alimentaire (Kcal/personne/jour),5000.0,36296.113,37.313380,10.50
3,Afrique du Sud,149.0,14.63,Production,1667000.0,57009.756,17.571442,9.82
4,Afrique du Sud,149.0,14.63,Importations - Quantité,514000.0,57009.756,17.571442,9.82

In [29]:
dispo_ali2['Élément'].unique()

array(['Production', 'Importations - Quantité',
       'Disponibilité alimentaire (Kcal/personne/jour)',
       'Exportations - Quantité', nan], dtype=object)

In [30]:
dispo_ali2 = dispo_ali2.loc[dispo_ali2['Élément']=='Disponibilité alimentaire (Kcal/personne/jour)',:]

In [31]:
dispo_ali2.head()

,Zone,DispoAliVolKcal,DispoAliProtVol,Élément,Valeur(kg),pop2017,%pop change 2006-2017,RatioProtVol%
2,Afghanistan,6.0,0.63,Disponibilité alimentaire (Kcal/personne/jour),5000.0,36296.113,37.313380,10.50
6,Afrique du Sud,149.0,14.63,Disponibilité alimentaire (Kcal/personne/jour),143000.0,57009.756,17.571442,9.82
10,Albanie,59.0,4.44,Disponibilité alimentaire (Kcal/personne/jour),85000.0,2884.169,-5.839072,7.53
14,Algérie,24.0,2.13,Disponibilité alimentaire (Kcal/personne/jour),22000.0,41389.189,23.031974,8.88
18,Allemagne,67.0,7.39,Disponibilité alimentaire (Kcal/personne/jour),71000.0,82658.409,1.455935,11.03

In [32]:
len(dispo_ali2)

172

In [33]:
#Suppression des colonnes non utilisés
dispo_ali2 = dispo_ali2[['Zone','pop2017', '%pop change 2006-2017', 'RatioProtVol%',
                           'DispoAliVolKcal', 'DispoAliProtVol']]

dispo_ali2.head()

,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol
2,Afghanistan,36296.113,37.313380,10.50,6.0,0.63
6,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63
10,Albanie,2884.169,-5.839072,7.53,59.0,4.44
14,Algérie,41389.189,23.031974,8.88,24.0,2.13
18,Allemagne,82658.409,1.455935,11.03,67.0,7.39

In [34]:
pib_stab = pd.read_excel('pib_stab.xlsx')
pib_stab.head()

,Domaine,Zone,Élément,Produit,Année,Unité,Valeur
0,Données de la sécurité alimentaire,Afghanistan,Valeur,PIB par habitant,2017,I$,2058.40
1,Données de la sécurité alimentaire,Afghanistan,Valeur,Stabilité politique,2017,indice,-2.80
2,Données de la sécurité alimentaire,Afrique du Sud,Valeur,PIB par habitant,2017,I$,12701.30
3,Données de la sécurité alimentaire,Afrique du Sud,Valeur,Stabilité politique,2017,indice,-0.28
4,Données de la sécurité alimentaire,Albanie,Valeur,PIB par habitant,2017,I$,12771.00

In [35]:
stab = pib_stab[['Zone','Produit','Valeur']]

In [36]:
stab

               Zone              Produit    Valeur
0       Afghanistan     PIB par habitant   2058.40
1       Afghanistan  Stabilité politique     -2.80
2    Afrique du Sud     PIB par habitant  12701.30
3    Afrique du Sud  Stabilité politique     -0.28
4           Albanie     PIB par habitant  12771.00
..              ...                  ...       ...
378           Yémen  Stabilité politique     -2.94
379          Zambie     PIB par habitant   3485.00
380          Zambie  Stabilité politique      0.15
381        Zimbabwe     PIB par habitant   3274.60
382        Zimbabwe  Stabilité politique     -0.71

[383 rows x 3 columns]

In [37]:
stab1= pd.pivot_table(stab, index=['Zone'], columns=['Produit'],values=['Valeur'])

In [38]:
stab1

                                Valeur
Produit               PIB par habitant Stabilité politique
Zone
Afghanistan                     2058.4               -2.80
Afrique du Sud                 12701.3               -0.28
Albanie                        12771.0                0.38
Algérie                        11737.4               -0.92
Allemagne                      52952.9                0.59
...                                ...                 ...
Érythrée                           NaN               -0.73
États-Unis d'Amérique          60109.7                0.34
Éthiopie                        2021.6               -1.68
Îles Marshall                   3706.3                0.87
Îles Salomon                    2663.9                0.20

[197 rows x 2 columns]

In [39]:
# Jointure avec dispo_ali2
dispo_ali3 = pd.merge(dispo_ali2, stab1, on='Zone', how='inner')

/Users/lethituong/opt/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

In [40]:
dispo_ali3

,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol,"(Valeur, PIB par habitant)","(Valeur, Stabilité politique)"
0,Afghanistan,36296.113,37.313380,10.50,6.0,0.63,2058.4,-2.80
1,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63,12701.3,-0.28
2,Albanie,2884.169,-5.839072,7.53,59.0,4.44,12771.0,0.38
3,Algérie,41389.189,23.031974,8.88,24.0,2.13,11737.4,-0.92
4,Allemagne,82658.409,1.455935,11.03,67.0,7.39,52952.9,0.59
...,...,...,...,...,...,...,...,...
164,Émirats arabes unis,9487.203,78.997954,10.14,88.0,8.92,67183.6,0.62
165,Équateur,16785.361,19.389022,7.43,87.0,6.46,11617.9,-0.07
166,États-Unis d'Amérique,325084.756,9.177150,9.08,220.0,19.98,60109.7,0.34
167,Éthiopie,106399.924,35.559944,12.00,2.0,0.24,2021.6,-1.68
168,Îles Salomon,636.039,32.211201,8.16,19.0,1.55,2663.9,0.20

In [41]:
# Changer le nom pour les colonnes
dispo_ali3.rename(columns={"(Valeur, PIB par habitant)":"PIB/hab",
                               "(Valeur, Stabilité politique)":"stab_poli"},
                     inplace=True)

In [42]:
dispo_ali3

,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol,"(Valeur, PIB par habitant)","(Valeur, Stabilité politique)"
0,Afghanistan,36296.113,37.313380,10.50,6.0,0.63,2058.4,-2.80
1,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63,12701.3,-0.28
2,Albanie,2884.169,-5.839072,7.53,59.0,4.44,12771.0,0.38
3,Algérie,41389.189,23.031974,8.88,24.0,2.13,11737.4,-0.92
4,Allemagne,82658.409,1.455935,11.03,67.0,7.39,52952.9,0.59
...,...,...,...,...,...,...,...,...
164,Émirats arabes unis,9487.203,78.997954,10.14,88.0,8.92,67183.6,0.62
165,Équateur,16785.361,19.389022,7.43,87.0,6.46,11617.9,-0.07
166,États-Unis d'Amérique,325084.756,9.177150,9.08,220.0,19.98,60109.7,0.34
167,Éthiopie,106399.924,35.559944,12.00,2.0,0.24,2021.6,-1.68
168,Îles Salomon,636.039,32.211201,8.16,19.0,1.55,2663.9,0.20

In [43]:
distance = pd.read_excel('distance.xlsx')
distance.head()

             Zone  distance(km)
0     Afghanistan      5590.381
1  Afrique du Sud      8692.812
2         Albanie      1603.534
3         Algérie      1340.390
4       Allemagne       880.187

In [44]:
len(distance)

224

In [45]:
# Jointure avec la distance
dispo_stab_pop_dist = pd.merge(dispo_ali3,distance, on = 'Zone', how= 'left')

In [46]:
dispo_stab_pop_dist.head()

,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol,"(Valeur, PIB par habitant)","(Valeur, Stabilité politique)",distance(km)
0,Afghanistan,36296.113,37.313380,10.50,6.0,0.63,2058.4,-2.80,5590.381
1,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63,12701.3,-0.28,8692.812
2,Albanie,2884.169,-5.839072,7.53,59.0,4.44,12771.0,0.38,1603.534
3,Algérie,41389.189,23.031974,8.88,24.0,2.13,11737.4,-0.92,1340.390
4,Allemagne,82658.409,1.455935,11.03,67.0,7.39,52952.9,0.59,880.187

In [47]:
len(dispo_stab_pop_dist)

169

In [48]:
dispo_stab_pop_dist.dropna()

,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol,"(Valeur, PIB par habitant)","(Valeur, Stabilité politique)",distance(km)
0,Afghanistan,36296.113,37.313380,10.50,6.0,0.63,2058.4,-2.80,5590.381
1,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63,12701.3,-0.28,8692.812
2,Albanie,2884.169,-5.839072,7.53,59.0,4.44,12771.0,0.38,1603.534
3,Algérie,41389.189,23.031974,8.88,24.0,2.13,11737.4,-0.92,1340.390
4,Allemagne,82658.409,1.455935,11.03,67.0,7.39,52952.9,0.59,880.187
...,...,...,...,...,...,...,...,...,...
164,Émirats arabes unis,9487.203,78.997954,10.14,88.0,8.92,67183.6,0.62,5249.535
165,Équateur,16785.361,19.389022,7.43,87.0,6.46,11617.9,-0.07,9367.098
166,États-Unis d'Amérique,325084.756,9.177150,9.08,220.0,19.98,60109.7,0.34,6169.154
167,Éthiopie,106399.924,35.559944,12.00,2.0,0.24,2021.6,-1.68,5582.502
168,Îles Salomon,636.039,32.211201,8.16,19.0,1.55,2663.9,0.20,15178.200

In [49]:
# affichage du nombre de valeurs manquantes
dispo_stab_pop_dist.isna().sum()

Zone                             0
pop2017                          0
%pop change 2006-2017            1
RatioProtVol%                    0
DispoAliVolKcal                  0
DispoAliProtVol                  0
(Valeur, PIB par habitant)       5
(Valeur, Stabilité politique)    0
distance(km)                     1
dtype: int64

In [50]:
dispo_stab_pop_dist.to_csv('df_final.csv')

### 3. Analyser les donnes

In [51]:
os.getcwd()

'/Users/lethituong/Desktop/Data Analyst/OpenClassrooms projects/P9-Produisez une étude de marché avec R ou Python/DAN-P9-data'

In [7]:
import pandas as pd 
import seaborn as sns
df_final = pd.read_csv('df_final.csv')

In [8]:
df_final

,Unnamed: 0,Zone,pop2017,%pop change 2006-2017,RatioProtVol%,DispoAliVolKcal,DispoAliProtVol,"('Valeur', 'PIB par habitant')","('Valeur', 'Stabilité politique')",distance(km)
0,0,Afghanistan,36296.113,37.313380,10.50,6.0,0.63,2058.4,-2.80,5590.381
1,1,Afrique du Sud,57009.756,17.571442,9.82,149.0,14.63,12701.3,-0.28,8692.812
2,2,Albanie,2884.169,-5.839072,7.53,59.0,4.44,12771.0,0.38,1603.534
3,3,Algérie,41389.189,23.031974,8.88,24.0,2.13,11737.4,-0.92,1340.390
4,4,Allemagne,82658.409,1.455935,11.03,67.0,7.39,52952.9,0.59,880.187
...,...,...,...,...,...,...,...,...,...,...
164,164,Émirats arabes unis,9487.203,78.997954,10.14,88.0,8.92,67183.6,0.62,5249.535
165,165,Équateur,16785.361,19.389022,7.43,87.0,6.46,11617.9,-0.07,9367.098
166,166,États-Unis d'Amérique,325084.756,9.177150,9.08,220.0,19.98,60109.7,0.34,6169.154
167,167,Éthiopie,106399.924,35.559944,12.00,2.0,0.24,2021.6,-1.68,5582.502
168,168,Îles Salomon,636.039,32.211201,8.16,19.0,1.55,2663.9,0.20,15178.200